In [40]:
import pandas as pd
import itertools


df = pd.read_csv('anonymized_data.csv')

In [45]:
unique_labels = df['label'].unique()
letters = list('abcdefghi')
label_mapping = {label: letters[i] for i, label in enumerate(unique_labels)}

# Replace the labels in the dataframe with the corresponding letters
df['label'] = df['label'].map(label_mapping)

In [46]:
all_words = ' '.join(df['description']).split()
unique_words = list(set(all_words))
letters = list('abcdefghijklmnopqrstuvwxyz')
if len(unique_words) > len(letters):
    letters.extend(['aa', 'ab', 'ac'])  # extend letters list if needed

In [47]:
def generate_identifiers(n):
    letters = 'abcdefghijklmnopqrstuvwxyz'
    for length in range(1, 5):  # Adjust length as needed
        for combo in itertools.product(letters, repeat=length):
            if n <= 0:
                return
            yield ''.join(combo)
            n -= 1

# Create a mapping of unique words to identifiers
all_words = ' '.join(df['description']).split()
unique_words = list(set(all_words))
identifiers = list(generate_identifiers(len(unique_words)))

In [48]:
word_mapping = {word: identifiers[i] for i, word in enumerate(unique_words)}

def anonymize_description(description):
    return ' '.join([word_mapping[word] for word in description.split()])

# Replace the words in the description column with the corresponding identifiers
df['description'] = df['description'].apply(anonymize_description)

In [49]:
df

,account,amount,currency,direction,Cash in/Cash out,effective_date,description,label
0,a 1,"1,814.39",USD,credit,Cash in,2023-02-28,cbl hp bul adg,a
1,a 1,16.00,USD,debit,Cash out,2023-02-28,amb asg cbe cbr avd cpf,b
2,a 1,16.00,USD,debit,Cash out,2023-02-28,amb asg cbe cbr avd bxa,b
3,a 1,246.75,USD,debit,Cash out,2023-02-28,amb asg ub dp avd cgb,b
4,a 1,4.80,USD,debit,Cash out,2023-02-28,amb asg ip bip avd xl,b
...,...,...,...,...,...,...,...,...
1702,a 3,"1,685.50",USD,debit,Cash out,2023-02-01,amb asg avh nq cih cne,b
1703,a 3,952.58,USD,debit,Cash out,2023-02-01,yg bcc aqh,c
1704,a 3,343.00,USD,debit,Cash out,2023-02-01,yg kr bel,c
1705,a 3,"7,577.70",USD,credit,Cash in,2023-02-01,nj cdc ha cih alk,d
1706,a 3,943.81,USD,debit,Cash out,2023-02-01,yg bcc brm,c

In [51]:
df.to_csv('anon_data.csv',index = False)